<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/css/messenger.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/css/messenger-theme-flat.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

</head>

<body>
    <header>
        <div id="menu">
            <a href="/" id="logo"></a>
            <div id="login_details">
                <a class="logout" href="/logout">Logout</a>

            </div>
        </div>
    </header>
    <div class="flex_container">
        <div class="left">
            <div class="user">
                <div id="login_pic"></div>
                <div class="names">
                    <h5 id="login_name"></h5>
                    <p id="last_login"></p>
                </div>
            </div>

            <!-- Form  -->
            <div>
                <input id="route" name="route" type="text" placeholder="route" required>
                <input id="distance" name="distance" type="text" placeholder="distance" required>
                <button class="button button-default" id="send_route">Add Route and Distance to DB</button>
            </div>

            <div>
                <select id="tax">
			  <option value="a0">A0 - 0 CO2 €120</option>
			  <option value="a1">A1 - 1 – 80g/km CO2 €170</option>
			  <option value="a2">A2 - 81 – 100g/km CO2 €180</option>
			  <option value="a3">A3 - 101 – 110g/km CO2 €190</option>
			  <option value="a4">A4 - 111 – 129g/km CO2 €200</option>
			  <option value="b1">B1 - 121 – 130g/km CO2 €270</option>
			  <option value="b2">B2 - 131 – 140g/km CO2 €280</option>
			  <option value="c">C - 141 – 155g/km CO2 €390</option>
  			  <option value="d">D - 156 – 170g/km CO2 €570</option>
			  <option value="e">E - 171 – 190g/km CO2 €750</option>
			  <option value="f">F - 191 – 225g/km CO2 €1,200</option>
			  <option value="g">G - 225g/km CO2 €120 or higher €2,350</option>
			</select>
                <button class="button button-default" id="send_tax">Select Your Cars Tax Bracket</button>
            </div>
            <div id="result"></div>

        </div>
        <div class="right">
            <div>
                <h3 class="counter">0</h3>
                <p id="saved_info"> grams of CO2 saved so far!</p>
                <div id="curve_chart"></div>
            </div>
        </div>
    </div>
    <script src="/static/js/emissions.js"></script>
</body>

</html>